html {

    -webkit-font-smoothing: antialiased;
}

body {
    margin: 0 auto;
    padding: 2em 2em 4em;
    max-width: 900px;
    font-family: "Proxima Nova", thin;
    font-size: 16px;
    color: #ffffff;
    background-color: #181818;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
}

h1, h3, h4, h5, h6 {
    color: #ffffff;
    font-family: "Raleway";
    font-weight: 200;
    font-size: 40px;
       line-height: 0.4em;
}

p{
    line-height: 1.5em;
}


h2 {
    font-family: "Raleway";
    color: #999999;
    font-size: 14px;
    
}

#businessintern {
    font-family: "Raleway";
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.9px;
}


#subheader {
    font-family: "Raleway";
    font-size: 13px;
    font-weight: 600;
    line-height: 2
}

#underscore:hover {
    text-decoration: underline;
    
}

#followme {
    font-color: #999999;
    font-family: "Raleway";
    letter-spacing: 1.5px;
    font-weight: 500;
    float: right ;
    font-size: 11px;
    margin: 4.5em auto;
    
        
}

a {
    color: #0083e8;
}
  
b, strong {
    font-weight: 600;
}

samp {
    display: none;
}

img {
    -webkit-animation: colorize 2s cubic-bezier(0, 0, .78, .36) 1;
    animation: colorize 2s cubic-bezier(0, 0, .78, .36) 1;
    background: transparent;
    border-right: 17px solid rgba(0, 0, 0, 0);
    float: left;
    margin: 0.10em auto;
}

#type {
  color: inherit;
  text-transform: uppercase;
}
button {
    margin-top: 50px;
  background: #2ebd59;
  width: 100px;
  height: 30px;
  border-radius: 30px;
  border: 0;
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: bold;
}
button:hover {
  background: #34d464;
}
#type2 {
    color: inherit;
    text-transform: uppercase;
    background-color: transparent;
    margin-left: 5px;
    border-color: lightgrey;
    border-style: solid;
    border-width: thin;
    width: 25%;

}

#type2:hover{
    border-color: #34d464;
}

#type3 {
    color: inherit;
    text-transform: uppercase;
    background-color: transparent;
    border-radius: 900px;
    margin-left: 5px;
    border-color: lightgrey;
    border-style: solid;
    border-width: thin;
    width: 3.4%;

}

#type3:hover{
    border-color: white;
}

@-webkit-keyframes colorize {
    0% {
        -webkit-filter: grayscale(100%);
    }
    100% {
        -webkit-filter: grayscale(0%);
    }
}

@keyframes colorize {
    0% {
        filter: grayscale(100%);
    }
    100% {
        filter: grayscale(0%);
    }
}

